streamlit>=1.45.1
requests>=2.28.0
tqdm>=4.65.0

xarray>=2025.4.0
rioxarray>=0.19.0

rasterio>=1.4.3

geopandas>=0.14.0
fiona>=1.9.0
shapely>=2.0.1
pyproj>=3.6.0

numpy>=1.25.0
pandas>=2.0.2
